.Header{
    display: flex; 
    align-items: center; 
    margin: 20px;
}
.circle-image {
    width: 80px;
    height: 80px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid black; 
    margin-right: 10px;    
}